<!DOCTYPE html>
<head>
	<title>Freesources</title>
	
	<!-- For mobile compatibility -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!-- CSS Style -->
	<style>	
		html, body {
			height: 100%;
			width: 100%;
			margin: 0;
			padding: 0;
		}

		#map {
			height: 90%;
			width: 100%;
			position: absolute;	
			top: 0;
			bottom: 0;
			margin: 0;
			padding: 0;	
		}

		input#textfield {
			background: white;
			width: 50%;
			position: absolute;
			top: 91%;
			left: 2.5%;
			border-radius: 8px;
		}

		input#submit {
			background: gray;
			width: 95%;
			position: absolute;
			top: 95%;
			left: 2.5%;
			border-radius: 8px;
		}	
	</style>

</head>
<body>
	
	<!-- Map -->
	<iframe id="map" src="{{ url_for('show_map') }}"></iframe>
	<form action="/submit_markers" method="GET">
		<input type="text" name="marker"  id="textfield" value="40.806290,-73.963005"><br>
		<input type="submit" value="test" id="submit">Submit</input>
	</form>
</body>
